.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.3);
  z-index: 1;
}

.modalWrapper {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: #fff;
  padding: 2rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}

.closeIcon {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  cursor: pointer;
}
