:root {
  background-color: #fff;
  color: #333333;
  font-family: Arial, sans-serif;
}

.main-formHelperText {
  position: absolute;
  top: 2.5rem;
}

.search-results {
  width: 100%;
  height: 30vh;
}

.close-icon {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  cursor: pointer;
}
